/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


.margin {
  margin-right: 40px;
}



.top {
  margin-top: 0;
  margin-bottom: 60px;
  font-style: italic;
  color: #000000;
  font-size: 18px;
}

///aboutmesection


.grey {
  color:#000000;
}

.img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.img2 {
  height: 300px;
  width: 450px;
  margin-bottom: 0;
}

.services {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
}

.rowbottom {
  margin-bottom: 100px;
}
.form {
  height: 60px;
  width: 500px;
  margin: 30px 400px 20px 250px;

}

.footer {
  margin-top: 30px;
}

.display {
  width: 50px;
  background-color: transparent;
  border-radius: 200%;
}

.bs {
  margin-left: 100px;
}

///Maxwellmunene

#yellow {
  color: #FFFFFF;
}

#textarea {
  height: 285px;
  width: 500px;
  margin: 25px 400px 10px 50px;
}

#button {
  text-align: center;
  padding: 20px 35px 20px 35px;
  margin: 0 800px 400px 650px;
}

#button2 {
  margin: 25px 800px 200px 650px;
  height: 80px;
  width: 300px;
}

#margintop {
  margin-top: 0;
}

#marginbottom {
  margin-bottom: 0;
}

#center {
  text-align: center;
  margin-top: 270px;
}

//top bar purple

#navcolor {
  background-color: #FF00FF;
}

#image {
  background-image: url("../img/coding.jpg");
  background-size: cover;
  height: 700px;
}

#size {
  font-size: 41px;
}

#bottom {
  margin-bottom: 40px;
}


#color {
  background-color: #f1f1f1;
}

#low {
  background-color: #FFFFFF;
  height: 80px;
  width: 450px;
  margin-top: 0;
}


#cupcake {
    margin-top: 0;
    padding-top: 10px;
    font-weight: bold;
}

#contact {
  color: #fff;
  margin-top: 50px;
}

#world {
  background-color: #222;
  background-image: url("../img/map.png");
  background-size: cover;
}

#footer {
  height: 90px;
}

h2 {
  color: white;
}
