#container{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#home{
    background-color:whitesmoke;
    height: 580px;
    display: flex;
    
}
#nav{
    position: relative;
    right: -200px;
    top: 200px;
}

nav>ul>li>a{
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px; 
    color: black;
}
nav>ul>li>a:hover{
color: blue;
}
nav>ul>li{
    display:block;
}
#name{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    padding-right: 120px;
    padding-top: 10%;
    background-image: url(pic.jpg);
    background-position: 50%;
    background-attachment: local;
    background-repeat: no-repeat;
    opacity: 0.3;
    width:40%;
    border-radius: 7px;  
    color:red;
}



h2 {
    text-align: center;
}

#aboutme{
    height:480px;
    padding-left: 50px;
    padding-right: 50px;
}
#inspiration{
    padding-left:70%; 
}
.contactbutton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: blue;

}